@model List<WebProyecto.Entities.ProductoEnt>

@{
    ViewBag.Title = "FiltrarCategorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xl-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="owl-carousel owl-theme full-width owl-carousel-dash portfolio-carousel owl-loaded owl-drag" id="owl-carousel-basic">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                <div class="owl-item cloned" style="width: 231.328px; margin-right: 10px;">
                                    <div class="item">
                                        <img src="~/template/images/default.jpg" alt="" style="max-width: 100%; max-height: 100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex py-4">
                        <div class="preview-list w-100">
                            <div class="preview-item p-0">

                                <div class="preview-item-content d-flex flex-grow">
                                    <div class="flex-grow">
                                        <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                            <h3 class="card-title">@item.DescripcionMarca  @item.DescripcionModelo</h3>

                                        </div>
                                        <h6 class="preview-subject">@item.DescripcionCategoria</h6>
                                        <p class="text-muted text-small">@item.Nombre</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="preview-subject" style="margin-bottom: 20px">$@item.Precio</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="@Url.Action("DetalleProducto","Producto", new {q = item.ConProducto})" class="btn btn-primary btn-rounded btn-fw" style="font-size: 15px; padding: 10px 20px;">Ver</a>
                        @if (Session["ConUsuario"] != null)
                        {
                            <button type="button" class="btn btn-secondary btn-rounded btn-fw" style="font-size: 15px; padding: 10px 20px;">Agregar al Carrito</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

